.movieSchedule {

    .movieSchedule__item {

        .item__img {
            width: $w-1;
            height: $h-1;
            object-fit: cover;
        }

        .item__content {
            .item__movieName {
                margin-bottom: $mg-1;
                font-size: $fs-3;
                color: $black-1;
                font-weight: 500;
            }

            .item__schedule {}
        }
    }
    
    hr {
        width: 75%;
    }
}