// Color 
$black-1: #000;
$black-2: #212121;

$grey-1: #9e9e9e;

$white-1: #fff;

// Padding
$pd-1: 10px;
$pd-2: 20px;

// Font-size
$fs-1: 12px; 

// Responsive breakpoints 
$breakpoints: (
    2xl: 1399.98px,
    xl: 1199.98px,
    lg: 991.98px,
    md: 767.98px,
    sm: 575.98px
);